body
    {
         background-color:rgb(35, 87, 94);
    } 
    a:link
    {
        color: rgb(242, 244, 96);
        background-color: wheat;
        text-decoration: none;
        padding: 9px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    a:active
    {
        color: yellow;
        background-color:fuchsia;
        text-decoration: none;
        padding: 10px;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }


table{
    background-color: papayawhip;

    margin: 0 auto;
    font-size: 22px;
}